<app-header></app-header>
<div class="container">
    <div class="titulo">
        <h1>Quinta-Feira</h1>
    </div>

    <div class="foto">
        <img src="../../../assets/prato-feito 1.png" alt="">
    </div>

    <div class="comida">
        <h2>Carreero</h2>
    </div>

    <div class="descricao">
        <p>Um arroz carreteiro bem feito não tem como desagradar a ninguém! A mistura de arroz, carne seca, linguiça, bacon, tomate e temperos tem origem com os carreteiros: homens que levavam mercadorias em carretas puxadas por bois pelo interior do país no início do século passado. Eles levavam charque salgado nas suas viagens para garantir que a carne não estragaria durante a viagem. E para as refeições, misturavam ela com arroz pela maior praticidade. A versão moderna adicionou alguns ingredientes que a deixou ainda mais deliciosa, mas ainda traz algumas características da receita original. Criada a partir de uma necessidade, a receita de arroz carreteiro é simples e pode ser feita em casa sem grandes dificuldades. Esse é um prato tradicional do sul do país, mas que já é amado em todas as regiões: confira como fazer arroz carreteiro simples! Uma receita perfeita para aquele almoço em família no final de semana, com muito sabor!

        </p>
    </div>

    <div class="arrow">
        <i class="fa-solid fa-angle-right icone" (click)="next()"></i>
    </div>

    <div class="arrow-left">
        <i class="fa-solid fa-angle-left icone" (click)="unnext()"></i>
    </div>
</div>
<app-footer></app-footer>