<app-header></app-header>
<div class="container">
    <div class="titulo">
        <h1>Terça-Feira</h1>
    </div>

    <div class="foto">
        <img src="../../../assets/prato-feito 1.png" alt="">
    </div>

    <div class="comida" *ngFor="let entrada of cardapioService.entradasPorDia['Terça']">
        <h2>{{entrada.comida}}</h2>
    </div>

    <div class="descricao" *ngFor="let entrada of cardapioService.entradasPorDia['Terça']">
        <p>{{entrada.descricao}}
        </p>
    </div>
    
    <div class="arrow">
        <i class="fa-solid fa-angle-right icone" (click)="next()"></i>
    </div>

    <div class="arrow-left">
        <i class="fa-solid fa-angle-left icone" (click)="unnext()"></i>
    </div>
</div>
<app-footer></app-footer>