.container {
    width: 100%;
    height: 100vh;
    background-color: #DD9200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .title h1 {
        font-size: 36px;
        font-family: "Leckerli One", cursive;
        color: white;
        font-weight: 100;
    }

    .img-escola {
        width: 350px;
    }

    button {
        padding: 10px 70px;
        border-radius: 15px;
        border: none;
        background-color: #fff;
        cursor: pointer;
        font-family: "Lexend", sans-serif;

        &:hover {
            background-color: #ffffffd3;

        }
    }
}