<div class="container">
  <div class="background"></div>

  <app-header></app-header>

  <main>


    <div class="painel-admin">
      <i class="fa-solid fa-lock"></i>
      <span >Painel Admin</span>
    </div>


    <div class="container-main">
      <div class="title">
        <h1>Cardápios</h1>
      </div>
      <div class="cardapio">
        <div class="card segunda" (click)="segunda()">
          <span>Segunda-Feira</span>
          <img class="imagem-day" src="../../../assets/segunda.png" alt="">
        </div>
        <div class="card terca" (click)="terca()">
          <span>Terça-Feira</span>
          <img src="../../../assets/terca.png" alt="">
        </div>
        <div class="card quarta" (click)="quarta()">
          <span>Quarta-Feira</span>
          <img src="../../../assets/quarta.png" alt="">
        </div>
        <div class="card quinta" (click)="quinta()">
          <span>Quinta-Feira</span>
          <img src="../../../assets/quinta.png" alt="">
        </div>
        <div class="card sexta" (click)="sexta()">
          <span>Sexta-Feira</span>
          <img src="../../../assets/sexta.png" alt="">
        </div>
      </div>
    </div>
  </main>


  <app-footer></app-footer>
</div>











<!-- 
    <div *ngIf="userProfile">
      <p>Nome: {{ userProfile.name }}</p>
      <p>Email: {{ userProfile.email }}</p>
      <img src="{{userProfile.photoUrl}}" alt="">
      
   -->